openapi: 3.0.1
info:
  title: IP Trust Classifier
  description: Classifies IP addresses using the GreyNoise Community API.
  version: "1.0.0"
 
servers:
  - url: https://api.greynoise.io/v3/community
 
paths:
  /check:
    get:
      operationId: IPTrustClassifier
      summary: Classify an IP address as trusted, suspicious, or malicious
      description: |
        Looks up an IP address in a threat intelligence database to determine its trust level.
        #ExamplePrompts Classify the IP 192.168.1.5
        #ExamplePrompts Is 8.8.8.8 a trusted IP?
      parameters:
        - in: query
          name: ipAddress
          schema:
            type: string
          required: true
      responses:
        '200':
          description: IP classification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ip:
                    type: string
                  classification:
                    type: string
                    enum: [internal, partner, trusted, suspicious, malicious, unknown]
                  threatScore:
                    type: integer
                  confidence:
                    type: string
        '400':
          description: Invalid IP format
        '401':
          description: Unauthorized or missing API key
 
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Key
 
security:
  - ApiKeyAuth: []
