openapi: 3.0.0

info:
  title: GreyNoise IP Trust Classifier
  description: |
    Classifies IP addresses using the GreyNoise Community API.
    #ExamplePrompts Check trust of IP 8.8.8.8 using GreyNoise
    #ExamplePrompts Use GreyNoise to determine IP reputation
  version: "1.0.0"

servers:
  - url: https://api.greynoise.io

paths:
  /v3/community/{ip}:
    get:
      operationId: IPTrustClassifier
      description: |
        Looks up an IP address in the GreyNoise Community API to determine its trust classification.
      summary: Classifies an IP address as trusted, suspicious, or malicious using GreyNoise
      parameters:
        - in: path
          name: ip
          schema:
            type: string
          required: true
      responses:
        200:
          description: Successful IP classification
          content:
            application/json:
              schema:
                type: object
                properties:
                  ip:
                    type: string
                    description: The IP address queried
                  classification:
                    type: string
                    enum: [benign, unknown, malicious]
                    description: GreyNoise classification of the IP
                  name:
                    type: string
                    description: Name associated with IP (if any)
                  actor:
                    type: string
                    description: Actor associated with IP (if any)
                  seen:
                    type: boolean
                    description: Whether the IP was seen in GreyNoise
        400:
          description: Invalid IP address
        401:
          description: Unauthorized - API key missing or invalid

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key

security:
  - ApiKeyAuth: []