openapi: 3.0.1
info:
  title: IP Trust Classifier
  description: |
    Classifies IP addresses using IPinfo.io and returns geographic, network, and privacy indicators.
    #ExamplePrompts Classify the IP 192.168.1.5
    #ExamplePrompts Is 8.8.8.8 a trusted IP?
  version: "1.0.0"

servers:
  - url: https://ipinfo.io

paths:
  /{ipAddress}/json:
    get:
      operationId: IPTrustClassifier
      summary: Classify an IP address using IPinfo
      description: Retrieves IP metadata including location, organization, and privacy attributes.
      parameters:
        - name: ipAddress
          in: path
          required: true
          schema:
            type: string
            example: 8.8.8.8
      responses:
        '200':
          description: IP classification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ip:
                    type: string
                  hostname:
                    type: string
                  city:
                    type: string
                  region:
                    type: string
                  country:
                    type: string
                  loc:
                    type: string
                    description: "Latitude,Longitude"
                  org:
                    type: string
                  postal:
                    type: string
                  timezone:
                    type: string
                  anycast:
                    type: boolean
                  privacy:
                    type: object
                    properties:
                      vpn:
                        type: boolean
                      proxy:
                        type: boolean
                      tor:
                        type: boolean
                      hosting:
                        type: boolean
        '401':
          description: Unauthorized – missing or invalid token
        '403':
          description: Forbidden – rate-limited or denied access

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header          # ✅ must match your skill.yaml Location: Header
      name: Key           # ✅ must match your skill.yaml Key: Key

security:
  - ApiKeyAuth: []