openapi: 3.0.1
info:
  title: IP Trust Classifier
  description: Classifies source IP addresses using GreyNoise threat intelligence feed
  version: "1.0.0"

servers:
  - url: https://api.greynoise.io

paths:
  /v3/community/{ip}:
    get:
      operationId: IPTrustClassifier
      summary: Classify a source IP address as trusted, suspicious, or malicious
      description: |
        Looks up a source IP address in the GreyNoise community feed to determine its trust level.
        #ExamplePrompts Classify the IP 8.8.8.8
        #ExamplePrompts Is 1.1.1.1 suspicious?
      parameters:
        - name: ip
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: IP classification result from GreyNoise
          content:
            application/json:
              schema:
                type: object
                properties:
                  ip:
                    type: string
                  classification:
                    type: string
                    enum: [internal, partner, trusted, suspicious, malicious, unknown]
                  threatScore:
                    type: integer
                  confidence:
                    type: string
        '400':
          description: Invalid IP format
        '401':
          description: Unauthorized or missing API key

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Key

security:
  - ApiKeyAuth: []
